<!DOCTYPE html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>

<form>
	<input type="file"  id="files" />
	<button id="btn" onclick="showImg()">click</button>
</form>

<div>
	<img id="imgShow" />
</div>

<script>
if (window.File && window.FileReader && window.FileList && window.Blob) {
  document.getElementById('files').addEventListener('click', handleFileSelect, false);
} else {
  alert('The File APIs are not fully supported in this browser.');
}

function handleFileSelect(evt) {
  var f = evt.target.files[0]; // FileList object
  var reader = new FileReader();
  
// Closure to capture the file information.
  reader.onload = (function(theFile) {
    return function(e) {
      var binaryData = e.target.result;
	  
	  console.log(binaryData);
      
	  //Converting Binary Data to base 64
      //var base64String = window.btoa(binaryData);
	  
	  showImg(binaryData);
	  
      //showing file converted to base64
      //console.log(base64String);      
    };
  })(f);
  
  // Read in the image file as a data URL.
  reader.readAsDataURL(f);
}
function showImg(input){
	$('#imgShow').attr('src', input);
}
</script>
</body>
</html>